<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student record/title>
</head>
<body>

    <h1>Registration Form</h1>

    {%if submitted%}
        Your details are successfully submitted!!
        {%else%}
        
    <form method="post">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required><br><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="reg_no">ID:</label>
        <input type="text" id="reg_no" name="reg_no" required><br><br>


        <input type="submit" value="Submit">
    </form>

</body>
</html>
